PROJECT_NAME=

# GitHub
GITHUB_PERSONAL_ACCESS_TOKEN=

# Stitch
STITCH_API_KEY=

# Vercel
VERCEL_API_TOKEN=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

#Supabase
DATABASE_URL=

#Backend para Frontend
NEXT_PUBLIC_API_URL=

#Portas
FRONTEND_PORT=
BACKEND_PORT=

