.env.local
.env
node_modules
dist/
.next
.vercel
**/.terraform/
.scannerwork/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
apps/backend/coverage/*
apps/backend/test/coverage/*
apps/frontend/playwright/.clerk/*
apps/frontend/playwright-report/*
apps/frontend/playwright-report/index.html
